
*,
*:before,
*:after {
    box-sizing: border-box;
}

.none {
    display: none !important;
}

.country_picker {
    width: 210px;
    margin: 0;
    padding: 0;
    font-size: 8px;
    font-family: sans-serif;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#country_picker-main {
    padding: 0 8px;
    border: 1px solid #f2f2f2;
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: 24px;
}

.country_picker-input {
    margin-top: 5px;
    font-size: 10px;
    border: none;
}

.country_picker-input:focus {
    outline: none;
}

.country_picker-favs {
    position: relative;
    padding-bottom: 7px;
}

.country_picker-favs:after {
    display: block;
    content:"";
    width:  95%;
    height: 1px;
    
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    right: 0;
}

.country_picker-list {
    width: 100%;
    height: auto;
    max-height: 0;
    overflow: hidden;

    transition: max-height .2s linear;
}

.country_picker-list--toggled {
    max-height: 144px;
    overflow-y: auto;
}

.country_picker-list::-webkit-scrollbar {
    width: 12px;
}

.country_picker-list::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.country_picker-list::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    background-clip: content-box;
}

.country_picker-list::-webkit-scrollbar-button {
    background-color: #f1f1f1;
    height: 16px;
}

.country_picker-list::-webkit-scrollbar-button:vertical:decrement {
    background: url(./arrows/arrow-top.svg) center no-repeat, #f1f1f1;
}

.country_picker-list::-webkit-scrollbar-button:vertical:increment {
    background: url(./arrows/arrow-bottom.svg) center no-repeat, #f1f1f1;
}

.country_picker-item {
    display: flex;
    flex-direction: row;
    padding: 2px 6px 1.7px 6px;
}

.country_picker-list > .country_picker-item:last-child {
    margin-bottom: 7px;
}

.country_picker-item:hover {
    background-color: #f1f1f1;
}

.country_picker-flag {
    width: 13px !important;
    height: 13px !important;
    margin-right: 7px;
    pointer-events: none;
}

.country_picker-title {
    line-height: 1.5;
    pointer-events: none;
}

.country_picker-button {
    height: 12px;
    width: 12px;
    padding: 0;
    border: 0;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 5px 5px 8px -4px rgba(0,0,0,0.5);
    position: absolute;
    top: 6px;
    right: 7px;
}

.country_picker-button:focus {
    outline: none;
}

.country_picker-icon {
    position: relative;
}

.country_picker-icon:before{
    display: block;
    content: "";
    width: 3px;
    height: 3px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: absolute;
    top: -2px;
    left: 4px;
    transform: rotate(45deg);
}

.country_picker-icon--toggled:before {
    transform: rotate(225deg);
    top: -1px;
}